<!doctype html>
<html lang="en">
  <head>
    <title>Restaurants Detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <b><a class="navbar-brand text-white" href="/">Restaurants</a></b>
        <span class="navbar-text">
          <%= restaurantsName %>
        </span>
        <div class="d-flex">
              <div class="text-white me-2">
                <div class="mx-auto">
                  Hi! <%= UserName %>! <a href="logout">Logout</a>
                </div>
              </div>
        </div>
      </div>      
    </nav>  

    <br>
    <br>
    <br>
    
    <div class="container shadow p-3 mb-5 bg-white rounded">
      <div class="row justify-content-md-center photoDiv">
        <div class="col-md-12">
          <img src="data:<%= photoMimetype %>;base64, <%= photoBase64 %>" class="figure-img img-thumbnail rounded">
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6">
          <span class="badge rounded-pill bg-info">Borough</span>  : <span class="h2"><%= Borough %></span>
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-info">Cuisine</span>  : <span class="h2"><%= Cuisine %></span>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6">
          <span class="badge rounded-pill bg-info">Street</span>   : <span class="h2"><%= Street %></span>
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-info">Building</span> : <span class="h2"><%= Building %></span>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6">
          <span class="badge rounded-pill bg-info">Zipcode</span>  : <span class="h2"><%= Zipcode %></span>
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-info">GPS</span>      : <span class="h2">[<%= GPSX %>, <%= GPSY %>]</span><br>
          <div class="mapDiv">
            <a href="/Map?GPSX=<%= GPSX %>&GPSY=<%= GPSY %>">map</a>
          </div>
        </div>
      </div>
      <div class="row ">        
        <div class="col-6">
          <span class="badge rounded-pill bg-info"> Rating</span>  : <div class="h5 rating"></div>
        </div>
        <div class="col-6">
          <span class="badge rounded-pill bg-info">Created By </span>  : <span class="h2"><%= Owner %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <br>
          <a class="btn btn-secondary" href="/">Back to home</a>
        </div>
      </div>
    </div>    

    <input type="hidden" id="withPhoto" value="<%= withPhoto %>">
    <input type="hidden" id="withMap" value="<%= withMap %>">
    <input type="hidden" id="ratingList" value="<%= ratingList %>">


  </body>

  <script>

    $(document).ready(() =>{

      if($("#withPhoto").val() == "false")
        $(".photoDiv")[0].setAttribute("hidden", "true");

      if($("#withMap").val() == "false")
        $(".mapDiv")[0].setAttribute("hidden", "true");

      console.log($("#ratingList").val());  

      JSON.parse($("#ratingList").val()).forEach((element, index) => {

        $(".rating").append("<span>" + (index + 1) + ". " + element.score + " (" + element.userName + ") </span><br>");

      });
      

    })

  </script>

</html>